@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
}

.main-container .main-content {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3em;

  background-color: #24252a;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  color: white;
}

.header h4 {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  color: #dddddd;
}

.wrapper {
  width: 60%; 
  height: 700px;
  padding: 2em 0 2em 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;

  background-color: #ffffff;
}

.empty-list-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}