.list-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1.6 1 0;
  height: 100%;
  padding: .5em 1.5em .5em .5em;
  overflow-y: auto;
}

.list-panel .task {
  display: flex;
  align-items: center;
  padding: .5em;
  gap: 1em;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #24252a;
}

.list-panel::-webkit-scrollbar {
  width: 1px;
}

.list-panel::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
}

.task .checkbox-list-wrapper {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 0.3em;
  flex-grow: 1;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.task .checkbox-list-wrapper .custom-checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.task .checkbox-list-wrapper .custom-checkbox > * {
  font-size: 1.1rem;
  font-weight: 900;
}

.task .checkbox-list-wrapper .task-name {
  cursor: pointer;
  margin-left: .5em;
  width: 100%;
  color: white;
  transition: all 0.3s ease;
}


.task .checkbox-list-wrapper input[type="checkbox"] {
  appearance: none;
}

.task .checkbox-list-wrapper input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: lime;
  border-color: lime;
  transition: all 0.3s ease;
}

.task .checkbox-list-wrapper input[type="checkbox"]:checked ~ .custom-checkbox ~ .task-name {
  text-decoration: line-through;
  opacity: 0.5;
} 

.task .checkbox-list-wrapper input[type="checkbox"]:checked ~ .custom-checkbox > *{
  color: black;
}


.task .checkbox-list-wrapper input[type="checkbox"] ~ .custom-checkbox > *{
  color: transparent;
}


.task .delete-task-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.task .delete-task-btn > * {
  color: red;
  margin-right: .5em;
  transition: all 0.3s ease;
}

.task .delete-task-btn > *:hover {
  color: rgb(182, 0, 0);
}

